@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    color: white;
    scrollbar-width: none;
    overflow-y:visible;
    overflow-x:hidden;
    background-color: #37353E;
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    place-items: center;
    height: 100vh;
    min-height: 0;
}
#panel{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    
    background-color: #44444E;
    height: 100%;
    width: 90%;
    border: 5px solid #715A5A;
    border-radius: 15px;
    min-height: 0;
    overflow: hidden;
}
#panel #top{
    grid-row: 1;
    display: flex;
    height: 100%;

    background-color: #61616F;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#panel #mid{
    grid-row: 2;
    display: grid;
    width: 100%;
    place-items: center;
    min-height: 0;
}
#panel #mid #sites{
    min-height: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px;
}
#panel #mid #sites ul{
    display: flex; 
    width: 100%; 
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#panel #mid #sites ul li{
    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #33333AFF;
    padding: 5px;
    border-radius: 15px;
    transition: background-color 0.25s ease-in-out;
}
#panel #mid #sites ul li:hover{
    background-color: rgb(86, 86, 92);
}
#panel #mid #sites ul button{
    border: none;
    cursor: pointer;
    all: unset;
}
#panel #mid #sites ul img{
    height: 128px;
    width: 128px;
}

#panel #mid #create-vhost-panel {
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 80%;
    background-color: #000;
    border-radius: 15px;
}
#panel #mid form {
    display: flex;
    flex-direction: column;
}
#panel #mid form input {
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}


#panel #btm {
    grid-row: 3;
    background-color: #61616f;
    border-radius: 10px;
    padding: 5px;
    display: flex; 
    align-items: center; 
}

#panel #btm ul {
    display: flex; 
    width: 100%; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around; 
    align-items: center;
}

#panel #btm ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#panel #btm ul #add-vhost img{
    height: 64px;
}
#panel #btm ul #pma img{
    margin-top: 5px;
    height: 80px;
}